@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
.active hr{
    @apply block
}
*{
    font-family: Outfit;
}


 .change:hover{
    color: rgb(235, 8, 8);
    transition: 0.3s ease-in-out;
 
}
::-webkit-scrollbar{
    @apply hidden
}

.display{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
@media (max-width: 768px) {
    .active p{
        @apply text-sky-500
    }
}